#nav-icon {
  width: 30px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  display: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s;
}

/* Icon 3 */
#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (max-width: 767px) {
  #nav-icon {
    display: block;
    margin: 8px;
    left: right;
  }
}
/**********************/
/*Setting Up*/
/**********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/**********************/
/*Ultilies*/
/**********************/
/**********************/
/*Hero*/
/**********************/
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507)), url(/images/desktop/image-hero.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
}
#hero .content {
  padding-top: 5rem;
  max-width: 1040px;
  margin: 0 auto;
}
#hero .content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 1rem 2rem;
  font-weight: 300;
  border: 1px solid white;
  width: 60%;
}

/**********************/
/*Navegation*/
/**********************/
#navbar {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
#navbar ul {
  display: flex;
  flex-direction: row;
}
#navbar ul li {
  padding: 0 1.5rem;
}
#navbar ul li a {
  color: white;
  font-size: 1.1rem;
}
#navbar ul li a:hover {
  border-bottom: 1px solid white;
}

/**********************/
/*Experince*/
/**********************/
#experince {
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  padding-top: 10rem;
  max-width: 1040px;
  margin: 0 auto;
}
#experince .grid-item:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/4;
}
#experince .grid-item:nth-child(1) img {
  width: 700px;
}
#experince .grid-item:nth-child(2) {
  background: white;
  grid-row: 2/7;
  grid-column: 5/9;
  padding: 4rem 1rem;
}
#experince .grid-item:nth-child(2) p {
  margin-top: 2.7rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #8c8c8c;
}

#creations {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 10rem;
}
#creations .creation-intro {
  display: flex;
  justify-content: space-between;
}
#creations .creation-intro .btn-up {
  border: 1px solid black;
  text-align: center;
  padding: 1rem 3.5rem;
  color: black;
  font-weight: bolder;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 1s;
  display: block;
}
#creations .creation-intro .btn-up:hover {
  background: black;
  color: white;
}
#creations .creation-photo {
  padding: 5rem 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#creations .creation-photo .grid-item {
  position: relative;
  color: white;
}
#creations .creation-photo .grid-item:hover {
  color: black;
}
#creations .creation-photo .grid-item h3 {
  position: absolute;
  bottom: 5%;
  transform: translate(-50%, -50%);
  left: 40%;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 1s;
}
#creations .creation-photo .grid-item .img-1 {
  opacity: 10;
  cursor: pointer;
  background: white;
  transition: all 1s;
  display: block;
}
#creations .creation-photo .grid-item .img-1:hover {
  opacity: 0.4;
  color: black;
}
#creations .creation-photo .grid-item .img-2 {
  display: none;
  opacity: 10;
  cursor: pointer;
  background: white;
  transition: all 1s;
}
#creations .creation-photo .grid-item .img-2:hover {
  opacity: 0.4;
  color: black;
}
#creations .btn-down {
  border: 1px solid black;
  text-align: center;
  padding: 1rem 3.5rem;
  color: black;
  font-weight: bolder;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 1s;
  display: none;
}
#creations .btn-down:hover {
  background: black;
  color: white;
}

#footer {
  padding: 2.7rem 0;
  background: black;
  color: white;
  margin-top: 6rem;
}
#footer .main-footer {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#footer .main-footer .flex-footer p {
  color: #8c8c8c;
}
#footer .main-footer .flex-footer ul {
  display: flex;
  padding: 1rem 0;
}
#footer .main-footer .flex-footer ul a {
  color: white;
  padding-right: 2rem;
}
#footer .main-footer .flex-footer ul a i {
  font-size: 1.5rem;
}

/**********************/
/*Media Queries*/
/**********************/
@media (max-width: 765px) {
  #navbar {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  #navbar ul {
    display: none;
    position: absolute;
    right: 50%;
    top: 11%;
  }
  #navbar ul li {
    padding: 1rem;
  }

  #hero {
    height: 100vh;
  }
  #hero .content {
    padding: 5rem 10px;
  }
  #hero .content h1 {
    font-size: 1.8rem;
    width: 100%;
  }

  #experince {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  #experince .grid-item:nth-child(1) {
    grid-column: 1/7;
    grid-row: 1/7;
  }
  #experince .grid-item:nth-child(1) img {
    width: 100%;
  }
  #experince .grid-item:nth-child(2) {
    grid-row: 1/7;
    grid-column: 1/9;
    margin-top: 80%;
  }

  h2 {
    font-size: 1.5rem;
    margin: auto;
  }

  #creations {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 5rem;
  }
  #creations .creation-intro {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  #creations .creation-intro .btn-up {
    display: none;
  }
  #creations .creation-intro .btn-up:hover {
    background: black;
    color: white;
  }
  #creations .creation-photo {
    padding-top: 2rem;
  }
  #creations .creation-photo .grid-item h3 {
    font-size: 1.5rem;
  }
  #creations .creation-photo .grid-item .img-1 {
    display: none;
  }
  #creations .creation-photo .grid-item .img-2 {
    display: block;
  }
  #creations .btn-down {
    display: block;
    max-width: 1040px;
    margin: 0 auto;
  }

  #footer {
    padding: 2rem;
  }
  #footer .main-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #footer .main-footer .flex-footer ul {
    flex-direction: column;
  }
  #footer .main-footer .flex-footer ul li {
    padding-top: 1rem;
  }
  #footer .main-footer .flex-footer ul a {
    color: white;
  }
}

/*# sourceMappingURL=main.css.map */
