/*colors*/
$colors:(
  --white-color:hsl(0, 0%, 100%),
  --black-color:hsl(0, 0%, 0%),
  --dark-gray:hsl(0, 0%, 55%),
  --very-dark-gray: hsl(0, 0%, 41%)
);

@function color( $colorr){
  @return map-get($colors , $colorr)
};



