@use '../scss/colors' as c;
#nav-icon{
  width: 30px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  color:c.color(--white-color);
  display: none;
}

#nav-icon span{
  display: block;
  position:absolute;
  height: 2px;
  width: 100%;
  background:c.color(--white-color);
  border-radius:10px;
  opacity:1;
  left:0;
  transform: rotate(0deg);
  transition: .25s;
}

/* Icon 3 */
#nav-icon span:nth-child(1) {
  top: 0px;
}


#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media(max-width:767px){
  #nav-icon{
    display:block;
    margin:8px;
    left: right;
  }

}
